<style> 
    body{text-align:center} 
</style> 


<h1>Kidney Care Plan</h1>

<h2>Dialysis Medicare Coverage for People with ESRD</h1>
    <h4>Exploring your insurance and potential financial aid options for dialysis or a kidney transplant is an important part of kidney disease and end stage renal disease (ESRD) treatment. Dialysis and transplant costs can vary depending on your insurance coverage. You’ll want to make sure you have the best possible coverage, based on your eligibility. Start exploring your insurance options for treatment in the earlier stages of chronic kidney disease (CKD), so you can be prepared. And if you’re on dialysis, talk to your Insurance Coordinator about any changes and new options available, including Medicare Advantage.</h4>

<h2>Take a survey to estimate how likely you are to get a CKD.</h2>
<form action="http://127.0.0.1:5000/survey" method="GET">
    <p><input type = "submit" value = "Take a Survey!" /></p>
</form>

<br><br><br><br><br><br>
<a href="http://127.0.0.1:5000/admin">Admin Port</a>

<br><br>

