<h1>Survey: How Likely You Are to Get a CKD</h1>


<style>
  body {text-align: center;}
</style>


<form action="http://127.0.0.1:5000/survey/1" method="POST">
    <input type="text" id="Age" name="Age", placeholder = "Age"><br>
    <input type="text" id="blood_pressure" name="blood_pressure", placeholder = "blood_pressure"><br>
    <input type="text" id="albumin" name="albumin", placeholder = "albumin"><br>
    <input type="text" id="serum_creatinine" name="serum_creatinine", placeholder = "serum_creatinine"><br>
    <input type="text" id="diabetes_mellitus" name="diabetes_mellitus", placeholder = "diabetes_mellitus"><br>
    <input type="text" id="haemoglobin" name="haemoglobin", placeholder="haemoglobin"><br>
    <input type="text" id="packed_cell_volume" name="packed_cell_volume", placeholder = "packed_cell_volume"><br>
    <input type="text" id="coronary_artery_disease" name="coronary_artery_disease" placeholder = "coronary_artery_disease"><br><br><br>

    <input type="checkbox" id="checkbox" name="checkbox"> I have read and agree to <font style="color:blue;">the terms of service</font>.

    <p><input type = "submit" value = "submit" /></p>
</form>


